
body {
background-color: #060808;
background-image: linear-gradient(135deg, #060808 0%, #1b1b25 100%);






}


h1{
background-color: #c500ff;
background-image: linear-gradient(270deg, #c500ff 0%, #000000 33%, #000000 70%, #c500ff 100%);

color: purple;
text-align:center;


}
div{

padding: 25px;

}
#dnav{
background-color: yellow;
}
nav {
text-align: right;



}
#div1 {


  background-color: #000000;
  background-image: linear-gradient(270deg, #000000 0%, #c500ff 50%, #000000 100%);


}






